* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body,
html {
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ecf0f1;
}

.content {
    background-color: #fff;
    border-radius: 15px;
    width: 400px;
    height: 70%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.title {
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
    margin: 20px auto;
}

.title-second {
    color: #6257c7;
}

.btn {
    border-radius: 15px;
    color: #fff;
    font-size: 12px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 170px;
    align-self: center;
    border: none;
    outline: none;
    margin-top: 1rem;
}

.btn-second {
    background: #6257c7;
    border: 1px solid #6257c7;
    outline: none;
    transition: background-color .5s;
}

.btn-second:hover {
    background-color: #372c99;
    border: 1px solid #372c99;
}

.second-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    width: 100%;
    margin-top: 10%;
}

.form input {
    height: 45px;
    outline: none;
    width: 100%;
    border: none;
    background-color: #ecf0f1;
    padding: 0 10px;
}

.span {
    position: relative;
    right: 10px;
}

.label-input {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
}