*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body, html{
    height: 100%;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ecf0f1;
}
.content {
    background-color: #fff;
    border-radius: 15px;
    width: 960px;
    height: 70%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.content::before {
    content: "";
    position: absolute;
    background-color: #6257c7;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    left: 0;
}
.title {
    font-size: 32px;
    font-weight: bold;
    text-transform: capitalize;
}
.firts-content .title-primary {
    color: #fff;
    position: relative;
    top: -115px;
}
.second-content .title-primary{
    color: #fff;
    position: relative;
    top: -170px;
}

.firts-content .title-primary {
    color: #fff;
    position: relative;
    top: -115px;
}

.second-column .title-second {
    color:  #6257c7;
    position: relative;
    top: -50px;
}
.description {
    font-size: 17px;
    font-weight: 300;
    line-height: 30px;
}
.description-primary {
    color: #fff;
}
.description-second {
    color: #7f8c8d;
}
.btn {
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 200px;
    align-self: center;
    border: none;
    outline: none;
    margin-top: 2rem;
}
.btn-primary {
    background-color: transparent;
    border: 3px solid #fff;
    transition: background-color .5s;
    position: relative;
    top: 70px;
}
.second-content .btn-primary{
    top: 120px;
}
.btn-primary:hover {
    background-color: #fff;
    color: #372c99;
}
.btn-second {
    background:  #6257c7;
    border: 1px solid  #6257c7;
    outline: none;
    transition: background-color .5s;
}
.btn-second:hover {
    background-color: #372c99;
    border: 1px solid #372c99;
}
.second-content {
    display: flex;
}
.second-content .second-column {
    z-index: 11;
}
.first-column {
    text-align: center;
    width: 40%;
    z-index: 10;
}
.second-column {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 70%;
}
.form input {
    height: 55px;
    outline: none;
    width: 100%;
    font-size: 20px;
    border: none;
    background-color: #ecf0f1;
    padding: 0 16px;
}
.link{
    display: none;
    color: #34495e;
    font-size: 20px;
    margin: 10px auto;
    text-align: center;
    text-decoration: none;
}
.link:hover{
    text-decoration: underline;
}
.span{
    position: relative;
    right: 10px;
}

.label-input {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
}
.icon-modify {
    color: #7f8c8d;
    padding: 0 5px;
}

/* second content*/

.firts-content {
    position: absolute;
    display: flex;
    grid-area: second;
}
.firts-content .first-column {
    order: 2;
    z-index: -1;
}
.firts-content .second-column {
    order: 1;
    z-index: -1;
}
.password {
    color: #34495e;
    display: flex;
    font-size: 14px;
    margin: 10px auto;
    text-align: center;
    text-decoration: none;
}

.password:hover{
    text-decoration: underline;
}

.sign-in-js .second-content .first-column {
    z-index: -1;
}

.sign-in-js .firts-content .second-column {
    z-index: 11;
}
.sign-in-js .firts-content .first-column {
    z-index: 13;
}

.sign-in-js .content::before {
    left: 60%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: slidein 1.3s;

    z-index: 12;
}

.sign-up-js .content::before {
    animation: slideout 1.3s; 

    z-index: 12;
}

.sign-up-js .firts-content .first-column,
.sign-up-js .firts-content .second-column {
    z-index: -1;
}

.sign-up-js .second-content .second-column {
    z-index: 11;
}

.sign-up-js .second-content .first-column {
    z-index: 13;    
}

.sign-in-js .second-content .second-column {

    z-index: -1;
    position: relative;
    animation: deslocamentoEsq .5s;
}

.sign-up-js .firts-content .second-column {
    position: relative;
    z-index: -1;
    animation: deslocamentoDir .5s; 
}

@keyframes deslocamentoEsq {

    from {
        right: 0;
        opacity: 1;
        z-index: 12;
    }

    to {
        right: -110px;
        opacity: 0;
        z-index: -1;
    }
}


@keyframes deslocamentoDir {

    from {
        left: 0;
        opacity: 1;
        z-index: 12;
    }

    to {
        left: -110px;
        opacity: 0;
        z-index: -1;
    }
}

@keyframes slidein {

    from {
        left: 0;

    }

    to {
        left: 60%;

    }
}

@keyframes slideout {

    from {
        left: 60%;

    }


    to {
        left: 0;

    }
}
   

@media (max-width:510px){
    .second-content {
        display: none;
    }

    .first-column {
        display: none;
    }

    .content {
        background-color: #fff;
        border-radius: 15px;
        width: 96%;
        height: 70%;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    .content::before {
        display: none;
    }

    .second-column {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .form {
        display: flex;
        flex-direction: column;
        width: 100%;
    } 

    .link{
        display: flex;
    }
   
}