*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

html, body{
    height: 100%;
}

.clear{
    clear: both;
}

.wrapper{
    background: linear-gradient(#1a125f, #4237aa);
    height: 100%;
    padding: 70px 0;
}

.form{
    width: 400px;
    margin: 0 auto;
    height: 500px;
    border-radius: 10px;
    padding: 30px 0;
    background-color: white;
    animation-name:login;
    animation-duration: 1s;
    overflow: hidden;
}

.form h2{
    text-align: center;
}

.btn{
    width: 40%;
    height: 40px;
    margin: 80px 120px;
    background: linear-gradient(#1a125f, #4237aa);
    color: white;
    border-radius:10px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    animation-name: campos;
}

.btn:hover{
    transform: scale(1.1);
}

.w100{ 
    margin: 30px 40px;
    width: 80%;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ccc;
    animation-name: campos;
}

.w100:nth-of-type(1){
    animation-delay: .2s;
    animation-duration: .5s;
    animation-fill-mode: backwards;
}

.w100:nth-of-type(2){
    animation-delay: .4s;
    animation-duration: .5s;
    animation-fill-mode: backwards;
}

.span{
    position: relative;
    top: -65px;
    right: 50px;
    float: right;
}

.btn{
    animation-delay: .6s;
    animation-duration: .9s;
    animation-fill-mode: backwards;
}

@keyframes login{
    from{
        transform: scale(0.9);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes campos{
    from{
        transform: translateX(-400px);
    }
    to{
        transform: translateX(0);
    }
}

input[type=text], input[type=password]{
    padding: 0 10px;
    height: 40px;
}

.form a{
    position: relative;
    right: 30px;
    top: -20px;
    float: right;
    text-decoration: none;
}

.form a:hover{
    text-decoration: underline;
}

@media (max-width:510px){
    .form{
        width: 100%;
        height: auto;
        padding: 15px 10px;
    }
    .wrapper{
        padding: 70px 20px;
    }
}

