<head>
    <link rel="stylesheet" href="/css/style4.css">
</head>
        <div class="nav">
            <h2>TCC</h2>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a class="button" href="#">Salas</a></li>
                <li><a href="/user/novo">Cadastro</a></li>
                <li><a href="/logout">Sair</a></li>
            </ul>
        </div>
    <div id="modalID" class="pop-up">
            <div class="salas">
                <!--<button id="fechar">X</button>-->
                <ul id="list" class="container">
                    <div>
                        <li class="item"><a href="/ad/reqsala40">Lab info</a></li>
                        <li class="item"><a href="/ad/reqsala45">Lab info</a></li>
                        <li class="item inline-b-item"><a href="#">Lab Bio</a></li>
                        <li class="item inline-b-item"><a href="#">Lab Redes</a></li>
                        <li class="item inline-b-item"><a href="#">Sala 44</a></li>
                        <li class="item inline-b-item"><a href="#">Sala 57</a></li>
                        <li class="item inline-b-item"><a href="#">Lab Quim</a></li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <script>
        function iniciar(modalID) {
            const modal = document.getElementById(modalID);
            modal.classList.add('mostrar')
            modal.addEventListener('click', () => {
                if (event.target.id == modalID) {
                    modal.classList.remove('mostrar')
                }
            });
        }
        document.querySelector('.button').addEventListener('click', () => iniciar('modalID'));
    </script>