<div class="content">
    <section class="left">
        <div class="status">
            <ul>
                <li>Nome: </li>
                <li>Responsavel: </li>
                <li>Situação: </li>
            </ul>
            <input type="button" id="reserva" value="Reservar">
        </div>
       </section>
        <section class="right">
        <div class="grafico">
                <div>
                    <p>Selecione uma sala no campo <em><strong>"Salas"</strong></em> para ver seus dados</p>
                </div>
            </div>
           </section>
        </div>