<!DOCTYPE html>
<html lang="pt=br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style4.css"> 
    <title>Document</title>
</head>

<body>
    <div class="content">
        <section class="left">
            <div class="status">
                <ul>
                    <li>Nome: </li>
                    <li>Responsavel: </li>
                    <li>Situação: </li>
                </ul>
                <a href="/reserv/reserva-sala"><input type="button" id="reserva" value="Reservar"></a>
            </div>
        </section>
        <section class="right">
            <div>
                <div class="grafico">
                    <div>
                        <p>Selecione uma sala no campo <em><strong>"Salas"</strong></em> para ver seus dados</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>