<div class="content">
    <section class="left">
        <div class="status">
            <ul>
                <li>Nome: </li>
                <li>Responsavel: </li>
                <li>Situação: </li>
            </ul>
            <input type="button" id="reserva" value="Reservar">
        </div>
       </section>
        <section class="right">
        <div class="grafico">
                <div>
                    {{!-- Recebendo os dados do Mongodb --}}
    {{#if salas}}
    <div id="chart-conteiner" class="cardChart">
    <canvas id="myChart" class="card-body"></canvas>
    </div>
        <script>
            dados = []
            diaSem = []
        </script>   
        {{#each salas}}
            <script>
                    dados.push({{consAprox}})
                    diaSem.push({{contSem}})
            </script>
        {{/each}}
    {{else}}
    <h3>Sem suporte para esta sala, ainda</h3>
    <img src="https://1.bp.blogspot.com/-qn_SA1TYEGI/WvH2jOnE0gI/AAAAAAAA_G4/pnqm2UsG3ekadRnVE6mRkxatmmun08-ZQCLcBGAs/s1600/4c7a1d3932a211fa.png" alt="">
    {{/if}}
    {{!-- ChartJS --}}
    <script id="Chart">
        var ctx = document.getElementById('myChart').getContext('2d')
        var myChart= new Chart(ctx,{
            type: 'line',
            data: {
                labels: diaSem,
                datasets:[{
                    label:'Consumo semanal',
                    data: dados,
                    borderColor: ['rgba(13, 12, 53, .8)'],
                    borderWidth: 2,
                    backgroundColor: ['rgba(255, 255, 255, 0)']
                }]
            },
            options:{
                responsive: true
            }
        })
    </script>
    </div>
    </div>
</section>
</div>