{{#if erros}}
    {{#each erros}}
        <div class="">{{texto}}</div>
    {{/each}}
{{else}}
    <div class="success">{{success}}</div>
{{/if}}

<head>
    <title>Login</title>
</head>

<body onload="resize()">
        <div class="container">
            <div class="content firts-content">
                <div class="first-column">
                    <h2 class="title title-primary">Olá</h2>
                    <p class="description description-primary">Clique no botão abaixo para realizar o cadastro</p>
                    <button id="signup" class="btn btn-primary">Cadastro</button>
                </div>
                <div class="second-column">
                    <h2 class="title title-second">Login</h2>
                    <form class="form" method="POST" action="/ad/login">

                        <label class="label-input" for="email">
                     
                            <input type="email" placeholder="Email" name="email">
                        </label>

                        <label class="label-input" for="pasword">
                           
                            <input id="senha3" type="password" placeholder="Senha" name="password">
                            <span class="span" onclick="mostrarSenha3()"><svg width="1em" height="1em" viewBox="0 0 16 16"
                                class="bi bi-lock-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.5 9a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-7a2 2 0 0 1-2-2V9z" />
                                <path fill-rule="evenodd" d="M4.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z" />
                            </svg></span>
                        </label>

                        <a class="password" href="/user/recuperar_senha">Esqueceu sua senha?</a>
                        <a href="/user/novo" class="link">Realizar casdatro</a>
                        <button type="submit" class="btn btn-second">Login</button>
                    </form>
                </div><!-- second column -->
            </div><!-- second-content -->
            <div class="content second-content">
                <div class="first-column">
                    <h2 class="title title-primary">Bem vindo</h2>
                    <p class="description description-primary">Clique no botão abaixo para realizar o login</p>
                    <button id="signin" class="btn btn-primary">Login</button>
                </div>
                <div class="second-column">
                    <h2 class="title title-second">Criar Conta</h2>
                    <form class="form" method="POST" action="/user/novo">
                        <label class="label-input" for="">
                     
                            <input type="text" placeholder="Nome" name="name">
                        </label>

                        <label class="label-input" for="">
                      
                            <input type="email" placeholder="Email" name="email">
                        </label>

                        <label class="label-input" for="">
                            <input id="senha1" type="password" placeholder="Senha" name="password">
                            <span class="span" onclick="mostrarSenha1()"><svg width="1em" height="1em" viewBox="0 0 16 16"
                                class="bi bi-lock-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.5 9a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-7a2 2 0 0 1-2-2V9z" />
                                <path fill-rule="evenodd" d="M4.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z" />
                            </svg></span>
                        </label>                        

                        <label class="label-input" for="">
                            <input id="senha2" type="password" placeholder="Confirmar senha" name="confirmPassword">
                            <span class="span" onclick="mostrarSenha2()"><svg width="1em" height="1em" viewBox="0 0 16 16"
                                class="bi bi-lock-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.5 9a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-7a2 2 0 0 1-2-2V9z" />
                                <path fill-rule="evenodd" d="M4.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z" />
                            </svg></span>
                        </label>
                        <button type="submit" class="btn btn-second">Cadastro</button>
                    </form>
                </div><!-- second column -->
            </div><!-- first content -->
        </div>
       
       <script>
            function mostrarSenha1() {
                var senha = document.getElementById('senha1');
                if (senha.type == "password") {
                    senha.type = "text";
                } else {
                    senha.type = "password";
                }
            }

            function mostrarSenha2() {
                var senha = document.getElementById('senha2');
                if (senha.type == "password") {
                    senha.type = "text";
                } else {
                    senha.type = "password";
                }
            }

            function mostrarSenha3() {
                var senha = document.getElementById('senha3');
                if (senha.type == "password") {
                    senha.type = "text";
                } else {
                    senha.type = "password";
                }
            }

            var btnSignin = document.querySelector("#signin");
            var btnSignup = document.querySelector("#signup");

            var body = document.querySelector("body");


            btnSignin.addEventListener("click", function () {
                body.className = "sign-in-js";
            });

            btnSignup.addEventListener("click", function () {
                body.className = "sign-up-js";
            })

            function resize() {
                body.className = "sign-in-js";
            }

        </script>